* {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
@font-face {
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Playfair+Display&display=swap');
}
body {
    margin: 0 auto;
    padding: 0;
}
.header-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: #282828;
}
.header{
    height: 200px;
    color: white;
}
.header-image{
    max-width: 1920px;
    background-image: url(img/wine.png);
    background-size: 100% ;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 200px;
}
.content-container {
    width: 58%;
    margin: 0 auto;
    padding: 0;
}
.address-number {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
}
.address-number p{
}
.nav {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.menu-bar-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 47px;
    border-top: 1px solid white ;
    border-bottom: 1px solid white;
}
.menu-bar-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 47px;
    border: 1px solid white;
}
.main {
    padding: 0;
}
.main-container-one{
    max-width: 1920px;
    background: #282828;
    margin: 0 auto;
    padding: 0;
}
.main-image {
    max-width: 1920px;
    height: 500px;
    background-image: url(img/wine.png);
    background-position: center -200px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 415px;
    height: 50px;
    margin: 0 auto;
    padding-top: 370px;
    font-style: normal;

}
button{
    width: auto;
    height: 50px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 15px 30px;
}
.button-one-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    background: #998431;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    margin: 15px;
}
.main-container-two{
    max-width: 1920px;
    height: 856px;
    background: #282828;
    margin: 0 auto;
    padding: 0;
}
.content-container-main-two{
    height: 656px;
    width: 58%;
    margin: 0 auto;
    padding-top: 50px;
}
.wine-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #C4C4C4;
    padding: 60px;
    color: #FFFFFF;
}
.wine-info h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    margin: 0;
}
.hr-main-two{
        width: 160px;
        align-items: center;
        margin-top: 40px;
}
.wine-info p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    margin-top: 40px;
}
.glass{
    width: 160px;
    height: 160px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.main-three{
        background: #E6E3C4;
        max-width: 1920px;
        height: 1038px;
        color: black;
        margin: 0 auto;
}
.container-main-three{
    display: flex;
    justify-content: center;
    height: 958px;
    font-family: 'Montserrat', sans-serif;
}
.content-container-main-three{
    display: flex;
    width: 58%;
    height: 858px;
    margin-top: 80px;
    padding: 0;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
}
.left-column{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}
.new-collection p {
    font-size: 16px;
    line-height: 150%;
    margin-top: 60px;
}
.new-collection h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 150%;
    color: #282828;
}
.line {
    width: 160px;
    color: #282828;
    margin-top: 30px;
    align-items: center;
}
.main-three-content{
    font-size: 14px;
    line-height: 150%;
    margin: 0 auto;
    padding: 0;
}
.table{
    display: flex;
    color: #282828
}
table{
    width: 445px;
    height: 228px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
}
table h2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-bottom: 5px;
}
td{
    border-bottom: 1px solid #282828;
}
.figure-left{
    width: 75px;
    border-right: 1px solid #282828;
    padding-left: 24px;
    padding-right: 24px;
}
.figure-right{
    padding-left: 30px;
    padding-bottom: 15px;
}
.button-three{
    width: 254px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    padding: 0;
}
.right-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 758px;
    margin: 0 auto;
    padding-left: 20px;
}
.wine-img-one{
    margin-top: 60px;
    max-width: 540px;
    height: 500px;
}
.img-wine{
    display: flex;
    justify-content: space-between;
}
.wine-img-two{
    width: 70%;
    height: 80%;
    margin: 30px 10px 60px 0;
}
.wine-img-three {
    width: 70%;
    height: 80%;
    margin: 30px 0 60px 10px;
}
.main-four{
    max-width: 1920px;
    height: 767px;
    background: #282828;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 129px;
    position: relative;
}
.img-grape{
    position: absolute;
    top: 10px;
    left: 350px;
}
.img-keg {
    position: absolute;
    top: 10px;
    right: 350px;
}
.main-container-four{
    border: 1px solid white;
    margin: 0 auto;
    padding: 0;
    width: 58%;
}
.content-container-main-four {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 538px;
}
.content-container-main-four hr{
    width: 118px;
    border: 1px solid #FFFFFF;
    margin-top: 40px;
    padding: 0;
}
.text{
    width: 539px;
    padding-top:90px;
    text-align: center;
}
input {
    font-family: 'Montserrat', sans-serif;
    background: #282828;
    border: none;
    color: #FFFFFF;
}
.inp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.entry {
    width: 240px;
    border-bottom: 1px solid #FFFFFF;
}
.box-submit{
    background: #282828;
    border-bottom: 1px solid #FFFFFF;
}
.address{
    height: 50px;
    border-bottom: 1px solid #FFFFFF;
    color: white;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;

}
.button-two-style{
    background: #282828;
    border: 1px solid #FFFFFF;
    color:#FFFFFF ;
    width: 350px;
    margin: 60px;

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 220px;
    background: #998431;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 ;
}
.nav-row-one{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    list-style: none;
    border-top: 1px solid #FFFFFF;
    font-size: 14px;
    line-height: 150%;
    padding: 19px;
    margin: 0 auto;
}
.catalog{
    display: flex;
    text-align: justify;
}
.row-two {
    width: 100%;
    height: 60px;
}
.nav-row-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 14px;
    line-height: 150%;
    padding: 0;
    text-transform: uppercase;
}
.cell-one{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    width: 25%;
    height: 47px;
    border-top: 1px solid white ;
    border-bottom: 1px solid white;
}
.cell-two{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
    height: 47px;
    border: 1px solid white ;
}
.cell-three{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-weight: 600;
    font-size: 14px;
    width: 25%;
    height: 47px;
    border: 1px solid white ;
}